*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
.DS_Store
.env
.idea/
.sass-cache/
.stencil/
.versions/
.vscode/
*.sublime-project
*.sublime-workspace
$RECYCLE.BIN/
coverage/
dist/
loader/
log.txt
node_modules/
pkg/
storybook-static
Thumbs.db
UserInterfaceState.xcuserstate
www/
