@use "node_modules/@manifoldco/mercury";
$name: 'ManifoldSubscriptionCreate';
$newName: 'ManifoldSubscription';

@use 'elements/subscription-create' with ($name: $name);
@use 'elements/subscription-details' with ($name: $name);
@use 'elements/subscription-list' with ($name: $name);
@use 'elements/typography' with ($name: $newName);
@use 'elements/card' with ($name: $name);
@use 'elements/cost' with ($name: $name);
@use 'elements/field' with ($name: $newName);
@use 'elements/button' with ($name: $newName);
@use 'elements/message' with ($name: $name);
@use 'elements/badge' with ($name: $name);
@use 'elements/cost-display' with ($name: $name);
@use 'elements/boolean-input' with ($name: $name);
@use 'elements/plan-selector' with ($name: $name);
@use 'elements/skeleton' with ($name: $name);
@use 'elements/header' with ($name: $newName);

manifold-subscription-create,
manifold-subscription-details,
manifold-subscription-list {
  box-sizing: border-box;

  button,
  input,
  dl,
  dt,
  dd,
  h1,
  h2,
  p,
  ul,
  li {
    all: unset;
  }

  * {
    box-sizing: inherit;
  }

  i {
    display: inline-block;
    width: 1em;
    line-height: 1;
    vertical-align: bottom;
  }

  svg {
    fill: currentColor;
  }
}
