@use "node_modules/@manifoldco/mercury";

manifold-subscription-create {
  all: unset;
  display: grid;
  gap: 1em;
  box-sizing: border-box;
  color: mercury.$color-grayDarker;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;

  & * {
    all: unset;
  }
}

.ManifoldSubscriptionCreate {
  &__Heading {
    font-size: 1.5em;
    text-align: center;
  }

  &__PlanCard {
    display: grid;
    gap: 0.5em;
    justify-items: start;
    padding: 1em;
    border: 1px solid mercury.$color-blue;
    border-radius: 0.4em;

    &__Cost {
      font-weight: 600;
      font-size: 0.9em;

      &__Suffix {
        color: mercury.$color-gray;
      }
    }
  }

  &__Form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  &__Field {
    display: grid;
    gap: 0.25em;

    &__Label {
      color: mercury.$color-grayDark;
      font-weight: 600;
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }

  &__Button {
    @include mercury.Manifold__Button;

    color: mercury.$color-white;
    text-align: center;
    background-image: mercury.$gradient-blue;
    border-color: transparent;
  }

  &__HelpText {
    color: mercury.$color-gray;
    font-size: 0.8em;
    text-align: center;
  }
}

@mixin Message($color) {
  color: $color;
  background-color: rgba($color, 0.1);
  border: 1px solid $color;
}

.ManifoldSubscriptionCreate__Message {
  display: block;
  padding: 0.5em;
  border-radius: 3px;

  &--success {
    @include Message(mercury.$color-green);
  }
  &--error {
    @include Message(mercury.$color-red);
  }
}

.StripeElement {
  padding: 0.5em 0.75em;
  border: 1px solid mercury.$color-grayLight;
  border-radius: 0.2em;
}

.StripeElement--focus {
  border-color: mercury.$color-gray;
}

.StripeElement--invalid {
  border-color: mercury.$color-red;
}

// ----------
//  Skeleton
// ----------

@keyframes shimmer {
  to {
    transform: translateX(100%); // line width shouldn’t be more than this
  }
}

@mixin ManifoldSubscriptionCreate__Skeleton {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: transparent;
  // line-height: 1;
  border-radius: 2px;

  & * {
    color: inherit;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      hsla(0, 0%, 0%, 0.1),
      hsla(0, 0%, 0%, 0.1) 1em,
      hsla(0, 0%, 0%, 0) 1em,
      hsla(0, 0%, 0%, 0) 1.4em
    );
    background-repeat: repeat-y;
    background-size: 100% 1.4em;
    content: '';
    pointer-events: none;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 100%;
    width: 60em; // derived from font size
    height: 100%;
    background-image: linear-gradient(
      60deg,
      transparent 50%,
      hsla(0, 0%, 100%, 0.5),
      transparent 60%
    );
    background-repeat: no-repeat;
    opacity: 0.4;
    animation-name: shimmer;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    content: '';
    pointer-events: none;
  }
}

[data-is-loading] {
  @include ManifoldSubscriptionCreate__Skeleton();
}
