@use "node_modules/@manifoldco/mercury";
$name: '' !default;

.#{$name}__Button {
  @include mercury.Button;

  &[data-kind='primary'] {
    color: mercury.$color-white;
    text-align: center;
    background-image: mercury.$gradient-blue;
    border-color: transparent;
  }

  &[data-kind='black'] {
    color: mercury.$color-white;
    background-color: mercury.$color-black;
    border-color: transparent;
  }
}
