@use "node_modules/@manifoldco/mercury";
$name: '' !default;

.#{$name}__Button {
  @include mercury.Button;

  vertical-align: middle;

  &[data-kind='primary'] {
    color: mercury.$color-white;
    text-align: center;
    background-image: mercury.$gradient-blue;
    border-color: transparent;
  }

  &[data-kind='black'] {
    color: mercury.$color-white;
    background-color: mercury.$color-black;
    border-color: transparent;
  }

  &--Small {
    @include mercury.Button--Small;
  }

  i {
    vertical-align: middle;

    &:first-child {
      margin-right: 0.5ch;
    }

    &:last-child {
      margin-left: 0.5ch;
    }
  }
}
