@use "node_modules/@manifoldco/mercury";
$name: '' !default;

.#{$name}__Card {
  position: relative;
  display: grid;
  gap: 0.5em;
  justify-items: start;
  padding: 1em;
  background-color: mercury.$color-white;
  border: 1px solid mercury.$color-gray;
  border-radius: 0.4em;
  box-shadow: mercury.$shadow-near;

  &[data-is-checked] {
    padding: calc(1em - 1px);
    border: 2px solid mercury.$color-blue;
  }

  &__Checkmark {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 1em;
    height: 1em;
    padding: 0.2em;
    color: white;
    background-color: mercury.$color-blue;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
    transition: all 100ms ease-in-out;

    svg {
      fill: currentColor;
    }
  }

  &[data-is-checked] &__Checkmark {
    transform: scale(1);
    opacity: 1;
  }
}
