@use "node_modules/@manifoldco/mercury";
$name: '' !default;

.#{$name}__Field {
  @include mercury.Input;

  &__Label {
    @include mercury.Typography--SmallScreenLabel;

    @media (min-width: 600px) {
      @include mercury.Typography--Label;
    }
  }

  &__InlineError {
    @include mercury.Typography--SmallScreenCaption;

    color: mercury.$color-red;

    @media (min-width: 600px) {
      @include mercury.Typography--Caption;
    }
  }
}

.#{$name}__NumberInput {
  @include mercury.Input;

  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  font-size: 0.8em;

  input {
    height: 2.25em;
    font-size: 0.8em;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }
  }

  button {
    @include mercury.Button;

    padding: 0.5em 0.75em;
    font-size: 1em;
  }
}

.#{$name}__Select {
  @include mercury.Select;
}
