@use "node_modules/@manifoldco/mercury";
$name: '' !default;

@keyframes enter {
  0% {
    transform: scale(0.75) translateY(-30%);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 100;
  }
}

.#{$name}__PlanSelector {
  display: grid;
  grid-template-columns: minmax(max-content, 3fr) minmax(max-content, 5fr);
  height: 100%;
  overflow: hidden;
  background-color: mercury.$color-white;
  border: 1px solid mercury.$color-grayLight;
  border-radius: 0.25em;
  box-shadow: mercury.$shadow-near;
  animation: enter 500ms ease-in-out;

  &__Menu {
    display: grid;
    gap: 0.75em;
    align-content: start;
    padding: 1em;
    overflow: auto;
    background-color: mercury.$color-grayLightest;

    input ~ .#{$name}__Card {
      cursor: pointer;
    }

    input:focus ~ .#{$name}__Card,
    input:hover ~ .#{$name}__Card {
      border-color: mercury.$color-blue;
      box-shadow: 0 0 0.25em 0 mercury.$color-blue;
    }
  }

  &__Details {
    align-self: start;
    margin: 1em;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
  }

  &__Heading {
    display: block;
    padding: 0.75em;
    font-size: 1.5em;
    border-bottom: inherit;
  }

  &__FeatureList {
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: inherit;
  }

  &__FeatureName,
  &__FeatureValue {
    display: grid;
    align-content: center;
    justify-content: start;
    padding: 0.5em 1.2em;
    border-bottom: inherit;
  }

  &__FeatureName {
    font-weight: 600;
  }

  &__FeatureDescription {
    margin: 0.5em 0;
    color: mercury.$color-gray;
    font-weight: normal;
    font-size: 0.8em;
  }

  &__FeatureTable {
    width: 100%;
    min-width: 100%;
    line-height: 1;
    border-collapse: collapse;

    & td {
      width: 50%;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }

    & tr:nth-of-type(odd) td {
      background-color: mercury.$color-grayLightest;
    }
  }

  &__FixedValue {
    &[data-value='false'],
    &[data-value='true'] {
      font-weight: 600;
      text-transform: uppercase;
    }

    &[data-value='false'] {
      color: mercury.$color-gray;
    }

    &[data-value='true'] {
      margin: -0.25em 0;
      color: mercury.$color-blue;
      font-size: 1.5em;
      line-height: 1;

      svg {
        fill: currentColor;
      }
    }

    &[data-locked] {
      color: mercury.$color-grayLight;

      & .icon {
        display: inline-block;
      }
    }
  }

  &__Footer {
    display: grid;
    grid-auto-columns: 1fr auto;
    grid-auto-flow: column;
    gap: 1em;
    align-content: space-between;
    align-items: center;
    padding: 1em;

    .#{$name}__CostDisplay {
      font-size: 1.5em;
    }
  }
}
