@use "node_modules/@manifoldco/mercury";
$name: '' !default;

.#{$name}__List {
  display: grid;
  gap: 0.5em;
  grid-gap: 0.5em;
  box-sizing: border-box;
  color: mercury.$color-grayDarker;
  font-size: 1em;

  &__Heading {
    font-size: 1.5em;
    text-align: justify;
    padding-bottom: 0.5em;
  }

  &__Card {
    position: relative;
    display: grid;
    gap: 0.5em;
    justify-items: start;
    padding: 1em;
    background-color: mercury.$color-white;
    border: 1px solid mercury.$color-grayLight;
    border-radius: 0.4em;
  }

  &__Button {
    @include mercury.Manifold__Button;

    grid-row: 1 / span 2;
    grid-column: 2;
    align-self: center;
    justify-self: end;
  }

  &__Icon {
    position: absolute;
    margin-block-start: -.2em;
    margin-inline-start: .4em;
    fill: mercury.$color-gray;
    width: 1.4em;
    height: 1.4em;
  }

  &__HelpText {
    color: mercury.$color-gray;
    font-size: 0.8em;
    text-align: center;
  }
}
