@use "node_modules/@manifoldco/mercury";
$name: '' !default;

.#{$name}__List {
  display: grid;
  gap: 1em;
  box-sizing: border-box;
  color: mercury.$color-grayDarker;
  font-size: 1em;

  &__Card {
    position: relative;
    display: grid;
    gap: 0.2em;
    justify-items: start;
    padding: 0.8em;
    background-color: mercury.$color-white;
    border: 1px solid mercury.$color-grayLight;
    border-radius: 0.4em;
  }

  &__Icon {
    position: absolute;
    margin-inline-start: 0.4em;
    font-size: 1.3em;
    fill: mercury.$color-gray;
  }
}
