@use "node_modules/@manifoldco/mercury";
$name: '' !default;

.#{$name} {
  display: grid;
  gap: 1em;
  box-sizing: border-box;
  color: mercury.$color-grayDarker;
  font-size: 1em;

  &__Form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;

    &[data-data-error],
    &[data-interface-error] {
      opacity: 0.5;
      pointer-events: none;

      * {
        pointer-events: inherit;
      }
    }

    &[data-interface-error] {
      filter: contrast(0);
    }
  }

  &__ModifyPlanButton {
    grid-row: 1 / span 2;
    grid-column: 2;
    align-self: center;
    justify-self: end;
    padding: 0.25em;
    color: mercury.$color-blue;
    font-size: 0.8em;
    text-decoration: underline;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 0 2px mercury.$color-white, 0 0 0 4px mercury.$color-blue;
    }
  }

  &__TextInput {
    padding: 0.75em;
    border: 1px solid mercury.$color-grayLight;
    border-radius: 0.2em;

    &:focus {
      border-color: mercury.$color-gray;
    }

    &:invalid {
      border-color: mercury.$color-red;
    }
  }
}

.StripeElement {
  padding: 0.75em;
  background-color: mercury.$color-white;
  border: 1px solid mercury.$color-grayLight;
  border-radius: 0.2em;

  [data-is-loading] {
    line-height: 0.75;
  }
}

.StripeElement--focus {
  border-color: mercury.$color-gray;
}

.StripeElement--invalid {
  border-color: mercury.$color-red;
}
